/.gradio
/auto_measurements
/manual_measurements
/bland_altman_plots
/auto_measurements_2
/manual_measurements_2
/bland_altman_plots_2
/StatisticResult.csv
/StatisticResult_2.csv
/Validation keypoints_2nd_Method.csv
/Validation keypoints_FM.csv
/Validation predictions_2nd_Method.csv
/Validation predictions_FM.csv

/__pycache__


.venv/