opencv-python==4.10.0.84
tensorboard==2.18.0
tensorboard-data-server==0.7.1
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
numpy==2.0.2
pandas==2.2.3
matplotlib==3.9.2
gradio==5.6.0
gradio_client==1.4.3
grpcio==1.68.0
iopath==0.1.9
pillow==11.0.0



